body, html {  /* May be best to apply to router instead. Not sure yet */
  margin: 0;
  min-width: 960px;
}

.centerBox {
  width: 820px;
  min-width: 760px;
  margin: 0 70px;
}

/*
Top of page -----------------------
*/

.departmentHeaderMain {
  top: 0;
  position: fixed;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #DDD;
  background-color: #FCFCFC;
  box-shadow: 0 0 8px -1px #DDD;
  display: flex;
  justify-content: center;
}

.departmentName {
  margin: 95px 0 0 0;

  font-family: 'Roboto';
  color: #0D4F8B;
}

.departmentAddress {
  margin: 0;
  padding: 0;

  font-family: 'Asap';
  font-size: 15px;
  color: #888;
}

.nameAddress {
  float: left;
}

.ratingsContainer {
  float: right;
  width: 130px;
  margin-top: 45px;
}

.rating {
  margin: 2px 0 0 0;
  font-family: 'Asap';
  font-weight: bold;
  font-size: 13px;
  color: #888;

}

.ratingNumber {
  float: right;
  color: #2686DE;
}

/*
Bottom of page --------------------
*/

.departmentContentMain {
  display: flex;
  justify-content: center;

  margin-top: 180px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}