.newPostContainer {
  margin-top: 10px;
}

.newPostLabel, .ratingLabel {
  font-family: Calibri;
}

.newPostRow {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.newPostTitle {
  height: 18px;
  width: 220px;
  margin-right: 15px;
  padding: 1px 3px;
}

.newPostDate {
  margin-right: 15px;
  width: 125px;
}

.newPostTag {
  height: 24px;
  width: 164px;
  padding: 1px 3px;
}

.newPostText {
  width: 100%;
  box-sizing: border-box;
}

.ratingRow {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.ratingLabel {
  display: inline-block;
}

.ratingEntry {
  display: inline-block;
  width: 30px;
  margin-left: 10px;
  text-align: center;
}

.newPostTitle, .newPostDate, .newPostTag, .newPostText, .ratingEntry {
  border: 2px solid #DDD;
  border-radius: 3px;
  box-shadow: 0 0 8px -1px #DDD;
  background-color: #FCFCFC;

  font-family: 'Asap';
  outline: none;
}


.newPostControls * {
  display: inline;
}

.newPostControls {
  padding-top: 13px;
  display: flex;
  justify-content: flex-end;
}

.cancelPost {
  height: 25px;

  cursor: pointer;
  border: 2px solid #DDD;
  border-radius: 2px;

  font-family: 'Asap';
  color: #666;

  box-shadow: 0 0 8px -1px #DDD;
}

.submitPost {
  height: 25px;
  width: 75px;
  margin-left: 10px;

  cursor: pointer;
  border: 2px solid #2686DE;
  border-radius: 2px;

  font-family: 'Asap';
  color: #2686DE;
  font-weight: bold;

  background-color: #BFEFFF;
  box-shadow: 0 0 8px -1px #DDD;

  outline: none;
}


/* Hide arrow buttons on number fields */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}