.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Asap';
}

.registerContainer {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #DDD;
	border-radius: 5px;
  box-shadow: 0 0 8px -1px #DDD;
  background-color: #FCFCFC;
}

.registerTitle {
  margin-bottom: 0;
  text-align: center;
  font-family: 'Racing Sans One';
  font-size: 60px;
  letter-spacing: 1px;
  color: #0D4F8B;
  font-weight: normal;
}

.registerSubtitle {
  margin-top: 0;
  text-align: center;
  color: #777;
}

label, input {
  display: block;
}

label {
  color: #777;
  font-size: 15px;
}

.registerField {
  margin-bottom: 20px;
  padding-left: 3px;
  width: 300px;
  height: 20px;

  border-radius: 2px;
  border: solid 2px #DDD;
  box-shadow: 0 0 8px -2px #DDD;
  outline: none;

  font-weight: bold;
  color: #464646;
}

.errorMessage {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #E3170D;
}

.registerSubmit {
  margin: 30px auto 0 auto;
  height: 40px;
  width: 80px;

  background-color: #0D4F8B;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 8px 0px #DDD;

  font-family: 'Fugaz One';
  letter-spacing: 1px;
  font-size: 13px;
  color: #FFF;

  cursor: pointer;
}

.registerSubmit:hover {
  background-color: #2686DE;
  transition: .1s;
}

.alreadyUser {
  margin: 30px 0;
  
  font-size: 13px;
  color: #2686DE;
  cursor: pointer;
}