.centerBox {
  width: 840px;
  margin: 0 70px;
}

/*
Header ----------------------------
*/

.headerBody {
  top: 0;
  position: fixed;
  width: 100%;

  border-bottom: 2px solid #DDD;
  background-color: #EEE;
  box-shadow: 0 0 8px -1px #DDD;

  display: flex;
  justify-content: space-between;

  z-index: 100;
}

.logo {
  margin: 2px 0 2px 8px;
  padding: 0;

  font-family: 'Racing Sans One';
  font-size: 20px;
  color: #0D4F8B;
}

.search {
  margin-top: 5px;
  font-family: 'Asap';
  font-weight: bold;
  color: #666;
  cursor: pointer;
}

.signInButton, .signOutButton {
  margin: 5px 7px 0 0;
  font-family: 'Asap';
  font-weight: bold;
  color: #666;
  cursor: pointer;
}

/*
Top of page -----------------------
*/

.departmentHeaderMain {
  top: 0;
  position: fixed;
  width: 100%;
  padding: 95px 0 15px 0;
  margin-bottom: 15px;
  border-bottom: 2px solid #DDD;
  background-color: #FCFCFC;
  box-shadow: 0 0 8px -1px #DDD;
  display: flex;
  justify-content: center;
}

.departmentName {
  margin: 0;

  font-family: 'Roboto';
  color: #0D4F8B;
}

.departmentAddress {
  margin: 0;
  padding: 0;

  font-family: 'Asap';
  font-size: 15px;
  color: #888;
}

/*
Bottom of page --------------------
*/

.departmentContentMain {
  display: flex;
  justify-content: center;

  margin-top: 180px;
}

.postControlsContainer {
  padding-bottom: 10px;
  border-bottom: solid 2px #EEE;

  display: flex;
  justify-content: flex-end;
}

.postFeedContainer {
  width: 100%;
  max-width: 554px;
  margin-bottom: 60px;
}

.createNewPostButton {
  height: 22px;
  margin-right: 5px;

  cursor: pointer;
  border: 2px solid #32CD32;
  border-radius: 2px;

  font-family: 'Asap';
  color: #32CD32;
  font-weight: bold;

  background-color: #BDFCC9;
  box-shadow: 0 0 8px -1px #DDD;
}