body {  /* May be best to apply to router instead. Not sure yet */
  margin: 0;
  min-width: 960px;
}

.centerBox {
  width: 840px;
  margin: 0 70px;
}

/*
Top of page -----------------------
*/

.departmentHeaderMain {
  top: 0;
  position: fixed;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #DDD;
  background-color: #FCFCFC;
  box-shadow: 0 0 8px -1px #DDD;
  display: flex;
  justify-content: center;
}

.departmentName {
  margin: 95px 0 0 0;

  font-family: 'Roboto';
  color: #0D4F8B;
}

.departmentAddress {
  margin: 0;
  padding: 0;

  font-family: 'Asap';
  font-size: 15px;
  color: #888;
}

.nameAddress {
  float: left;
}

.ratingsContainer {
  float: right;
  width: 150px;
  margin-top: 45px;
}

.rating {
  margin: 2px 0 0 0;
  font-family: 'Asap';
  font-weight: bold;
  font-size: 13px;
  color: #888;

}

.ratingNumber {
  float: right;
  color: #2686DE;
}

/*
Bottom of page --------------------
*/

.departmentContentMain {
  display: flex;
  justify-content: center;

  margin-top: 180px;
}

.postControlsContainer {
  padding-bottom: 10px;
  border-bottom: solid 2px #EEE;

  display: flex;
  justify-content: flex-end;
}

.postFeedContainer {
  width: 100%;
  max-width: 554px;
  margin-bottom: 60px;
}

.createNewPostButton {
  height: 22px;
  margin-right: 5px;

  cursor: pointer;
  border: 2px solid #32CD32;
  border-radius: 2px;

  font-family: 'Asap';
  color: #32CD32;
  font-weight: bold;

  background-color: #BDFCC9;
  box-shadow: 0 0 8px -1px #DDD;

  outline: none;
}

.zipHeaderForm * {
  display: inline-block;
}

.zipHeaderField {
  width: 150px;
  margin-top: 4px;
  margin-right: 6px;
  text-align: center;

  border: 2px solid #AAA;
  border-radius: 3px;
  box-shadow: 0 0 8px -1px #DDD;
  background-color: #FCFCFC;

  font-family: 'Asap';
  outline: none;
}

.zipHeaderButton {
  height: 20px;
  cursor: pointer;
  border: 2px solid #2686DE;
  border-radius: 2px;

  background-color: #BFEFFF;
  box-shadow: 0 0 8px -1px #DDD;

  outline: none;

  font-family: 'Asap';
  color: #2686DE;
  font-size: 11px;
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}