.headerBody {
  top: 0;
  position: fixed;
  width: 100%;

  border-bottom: 2px solid #DDD;
  background-color: #EEE;
  box-shadow: 0 0 8px -1px #DDD;

  display: flex;
  justify-content: space-between;

  z-index: 100;
}

.logo {
  margin: 2px 0 2px 8px;
  padding: 0;

  font-family: 'Racing Sans One';
  font-size: 20px;
  color: #0D4F8B;

  cursor: pointer;
}

.search {
  margin-top: 5px;
  font-family: 'Asap';
  font-weight: bold;
  color: #666;
  cursor: pointer;
}

.signInButton, .signOutButton, .deptListButton {
  margin: 5px 7px 0 0;
  font-family: 'Asap';
  font-weight: bold;
  color: #666;
  cursor: pointer;
}

.deptListButton {
  color: #2686DE;
}

.zipHeaderForm * {
  display: inline-block;
}

.zipHeaderField {
  width: 150px;
  margin-top: 4px;
  margin-right: 6px;
  text-align: center;

  border: 2px solid #AAA;
  border-radius: 3px;
  box-shadow: 0 0 8px -1px #DDD;
  background-color: #FCFCFC;

  font-family: 'Asap';
  outline: none;
}

.zipHeaderButton {
  height: 20px;
  cursor: pointer;
  border: 2px solid #2686DE;
  border-radius: 2px;

  background-color: #BFEFFF;
  box-shadow: 0 0 8px -1px #DDD;

  outline: none;

  font-family: 'Asap';
  color: #2686DE;
  font-size: 11px;
  font-weight: bold;
}